<form class="row pt-4 pb-4 g-2 d-flex justify-content-center mt-5 mb-5 bg-light">
    <div class="col-md-3">
	  <div class="input-group">
    	<input id="search-input" type="text" id="query" name="query" class="form-control" placeholder="search" value="{{query}}"/>
  	    <button type="submit" class="btn btn-primary">
  	  	  <i class="fa fa-search" aria-hidden="true"></i>
  	    </button>
	  </div>
	</div>
</form>

<div class="container mt-5" style="margin-bottom: 25px">
  <div class="row g-5 d-flex justify-content-center">
    <div class="col-md-5">
      <canvas id="chart-cities"></canvas>
    </div>
  </div>
    <script src="/js/chart.js"></script>
</div>

<div class="container mt-5" style="margin-bottom: 25px">
    <div class="row g-5">
        {{#each survey}}
            <div class="d-flex justify-content-center">
              <div class="card h-100 w-100">
                <div class="card-body">
                  <div class="d-flex justify-content-start align-items-center mb-2">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th scope="col">Questions</th>
                          <th scope="col">Answers</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><strong>What is your github handle ? </strong></td>
                          <td>{{this.github_handle}}</td>
                        </tr>
                        <tr>
                          <td><strong>What is your gitlab handle ? </strong></td>
                          <td>{{this.gitlab_handle}}</td>
                        </tr>
                        <tr>
                          <td><strong>Which city do you live in ?</strong></td>
                          <td>{{this.city}}</td>
                        </tr>
                        <tr>
                          <td><strong>What are your favourite languages ?</strong></td>
                          <td>{{formatList this.fav_languages}}</td>
                        </tr>
                        <tr>
                          <td><strong>What are the languages you have used at Cameroonian companies ?</strong></td>
                          <td>{{formatList this.pro_cam_languages}}</td>
                        </tr>
                        <tr>
                          <td><strong>What are the languages you have used at remote companies ?</strong></td>
                          <td>{{formatList this.pro_abroad_languages}}</td>
                        </tr>
                        <tr>
                          <td><strong>What are your favourite frameworks ?</strong></td>
                          <td>{{formatList this.fav_frameworks}}</td>
                        </tr>
                        <tr>
                          <td><strong>What are the frameworks you have used at Cameroonian companies ?</strong></td>
                          <td>{{formatList this.pro_cam_frameworks}}</td>
                        </tr>
                        <tr>
                          <td><strong>What are the frameworks you have used at remote companies ?</strong></td>
                          <td>{{formatList this.pro_abroad_frameworks}}</td>
                        </tr>
                        <tr>
                          <td><strong>What type of developer are you ?</strong></td>
                          <td>{{formatList this.developer_type}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
        {{/each}}
    </div>
</div>
